<template>
  <GMap
    ref="gMap"
    :center="center[demoPoint]"
    :zoom="zoom[demoPoint]"
    :options="{
      fullscreenControl: false,
      streetViewControl: false,
      mapTypeControl: false,
    }"
  >
    <GMapMarker
      v-for="point in points[demoPoint]"
      :key="point.id"
      :position="{lat: point.lat, lng: point.lng}"
      :options="{icon: colorImages[point.color]}"
      @click="selectUser()"
    >
    </GMapMarker>
  </GMap>
</template>

<script>
  import User from '@/store/database/User'

  export default {
    name: "Map",
    methods: {
      selectUser(userId) {
        this.$emit("user-selected", userId);
      }
    },
    props: {
      demoPoint: {
        type: Number,
      },
    },
    data: function () {
      return {
        colorImages: {
          red: require('@/static/needHelp.png'),
          green: require('@/static/willHelp.png'),
          white: require('@/static/neutral.png'),
        },
        zoom: {
          1: 11,
          2: 15,
        },
        center: {
          1: {
            lat: 46.52407536606077,
            lng: -72.74546662347335,
          },
          2: {
            lat: 46.52911012826649,
            lng: -72.75317139459717,
          },
          3: {
            lat: 46.52911012826649,
            lng: -72.75317139459717,
          },
        },
        points: {
          1: [
            {
              id: 1,
              lat: 46.54316127439715,
              lng: -72.75524394588489,
              color: "green",
            },
            {
              id: 2,
              lat: 46.601601621002125,
              lng: -72.70788451658505,
              color: "green",
            },
            {
              id: 3,
              lat: 46.52407536606077,
              lng: -72.74546662347335,
              color: "red",
            },
            {
              id: 4,
              lat: 46.52911012826649,
              lng: -72.75317139459717,
              color: "green",
            },
            {
              id: 5,
              lat: 46.478833237515396,
              lng: -72.79244528386685,
              color: "green",
            },
            {
              id: 6,
              lat: 46.53252859523038,
              lng: -72.75364059258196,
              color: "green",
            },
          ],
          2: [
            {
              id: 1,
              lat: 46.54316127439715,
              lng: -72.75524394588489,
              color: "green",
            },
            {
              id: 2,
              lat: 46.601601621002125,
              lng: -72.70788451658505,
              color: "green",
            },
            {
              id: 3,
              lat: 46.52407536606077,
              lng: -72.74546662347335,
              color: "red",
            },
            {
              id: 4,
              lat: 46.52911012826649,
              lng: -72.75317139459717,
              color: "green",
            },
            {
              id: 5,
              lat: 46.478833237515396,
              lng: -72.79244528386685,
              color: "green",
            },
            {
              id: 6,
              lat: 46.53252859523038,
              lng: -72.75364059258196,
              color: "green",
            },
          ],
        },
      }
    }
  }
</script>
