<template>
    <v-dialog :value="demoPoint === 4">
      <v-card class="align-self-center">
        <v-card-title style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
          <v-avatar width="100" height="100">
            <v-img eager :src="require('@/static/mathieu.png')"/>
          </v-avatar>
          <div class="my-3 headline">
            Mathieu es en route!
          </div>
          <div>
            Estimé de l'arrivée: 9 minutes
          </div>
        </v-card-title>
      </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "NewNotificaiton",
        props: {
          demoPoint: {
            type: Number,
          }
        }
    }
</script>

<style scoped>

</style>
