<template>
  <v-bottom-sheet
    :value="value !== null && demoPoint == 2"
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card>
      <v-card-actions>
        <v-btn icon @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>
      <v-card-text style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">
          <v-avatar width="100" height="100%">
            <v-img eager :src="require('@/static/lisette.jpg')">
            </v-img>
          </v-avatar>
          <div class="my-3 headline">
            Lisette
          </div>
          <v-btn @click="clicked" color="primary">
            Se proposer pour aider
          </v-btn>
      </v-card-text>
    </v-card>
  </v-bottom-sheet>
</template>

<script>
  export default {
    name: "UserViewer",
    props: {
      value: {
        type: Boolean,
        default: false,
      },
      demoPoint: {
        type: Number,
      },
    },
    methods: {
      close() {
        this.$emit('input', null);
      },
      clicked() {
        this.$emit('clicked');
        this.$emit('input', null);
      },
    },
    data: {
      people: {
        lisette: {

        },
        math: {

        },
      }
    }
  }
</script>

<style scoped>

</style>
