<template>
  <v-app :style="{background: $vuetify.theme.themes[theme].background}">
    <div class="pa-2" style="background: white">
      <v-img
        eager
        :src="require('@/static/logo.svg')"
        height="30"
        width="30"
        contain
        class="ma-auto"
      />
    </div>
    <v-content>
      <v-container>
        <nuxt/>
      </v-container>
    </v-content>
    <v-bottom-navigation fixed>
      <v-btn v-for="item in items" :to="item.to">
        <span>{{item.title}}</span>
        <v-icon>{{item.icon}}</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
  export default {
    computed: {
      theme() {
        return (this.$vuetify.theme.dark) ? 'dark' : 'light'
      }
    },
    data() {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          {
            icon: 'mdi-format-list-numbered',
            title: 'Quoi faire?',
            to: '/quoi-faire'
          },
          {
            icon: 'mdi-map',
            title: 'Ça pompe-tu?',
            to: '/carte'
          }

        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js'
      }
    }
  }
</script>
