<template>
  <div style="color:#5699FF">
    <h2 class="mx-4">Avez-vous besoin d'aide immédiate?</h2>
    <div class="my-2 mx-4">
      Par exemple:
      <ul>
        <li>Évacuation</li>
        <li>Disparition d'un proche</li>
        <li>Urgences médicales</li>
        <li>État de choc</li>
      </ul>
    </div>
    <div style="display: grid; grid-template-columns: 50% 50%;" class="mt-10">
      <v-card @click="goToPrevention" style="border-radius: 20px; display: flex; justify-content: center; flex-direction: column"
              class="ma-2 pa-2">
        <v-icon class="mx-auto my-2" x-large color="error">mdi-close-circle</v-icon>
        <div class="text-center error--text" style="font-size: 20pt">NON</div>
      </v-card>
      <v-card @click="goToDetresse" style="border-radius: 20px; display: flex; justify-content: center; flex-direction: column"
              class="ma-2 pa-2">
        <v-icon class="mx-auto my-2" x-large color="success">mdi-check-circle</v-icon>
        <div class="text-center success--text" style="font-size: 20pt">OUI</div>
      </v-card>
    </div>
    <div style="justify-content: center; display: flex; flex-direction: column" @click="$router.push('/')" class="mt-5">
      <v-btn icon x-large color="#5699FF" class="mx-auto">
        <v-icon>
        mdi-arrow-left-circle</v-icon>
      </v-btn>
      <div class="text-center">Revenir</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "inscription",
    methods: {
      goToDetresse() {
        this.$router.push('/detresse');
      },
      goToPrevention() {
        this.$router.push('/carte');
      }
    }
  }
</script>

<style scoped>

</style>
