<template>
  <div v-if="!loading">
    <Map @user-selected="viewUser" :demo-point="demoPoint"/>
    <UserViewer v-model="showUserView" @clicked="advance" :demo-point="demoPoint"/>
    <NewNotification :demo-point="demoPoint"/>
  </div>
</template>

<script>
  import User from '@/store/database/User'
  const DEMO_TIMEOUT = 5000;
  export default {
    name: "carte",
    components: {
      Map: () => import('@/components/Map'),
      UserViewer: () => import('@/components/UserViewer'),
      NewNotification: () => import('@/components/NewNotification'),
    },
    async mounted() {
      this.loading = true;
      await User.dispatch('loadUsers');
      this.loading = false;
    },
    methods: {
      viewUser() {
        this.showUserView = true;
      },
      advance() {
        setTimeout(()=> {
          this.demoPoint += 1;
          setTimeout(()=> {
            this.demoPoint += 1;
          }, DEMO_TIMEOUT);
        }, DEMO_TIMEOUT);
      },
    },
    data() {
      return {
        demoPoint: 2,
        loading: true,
        showUserView: false,
      }
    }
  }
</script>

<style scoped>

</style>
