  <template>
  <div>
    <div style="color:#5699FF">
      <h3>Numéros à contacter:</h3>
      <p>
        511 (en cas d’évacuation routière)<br>
        911 (en cas de danger pour la vie)<br>
        418 688-4240 (en cas de crise d’angoisse)
      </p>
      <v-divider/>
      <h3 class="my-3">Personnes qui peuvent vous aider à proximité</h3>
    </div>
    <Map demo-point="1"></Map>
  </div>
</template>

<script>
  export default {
    name: "detresse",
    components: {
      Map: () => import('@/components/Map'),
    },
  }
</script>

<style scoped>

</style>
