<template>
  <div>
    <v-form @submit.prevent="confirmLocation">
      <h2 class="pl-4 mb-2" style="color: #5699FF">Vous êtes à</h2>
      <v-textarea
        value="1250 Avenue de la Station, Shawinigan, QC G9N 8K9"
        style="border-radius: 15px"
        solo
        no-resize
      />
      <div style="display: flex; justify-content: center; flex-direction: column">
        <v-btn type="submit" color="primary" class="mx-auto mb-5" large style="border-radius: 50px">Confirmer</v-btn>
        <v-btn @click.prevent="modifier" color="primary" id="modifier-adresse-btn" class="mx-auto" outlined large style="border-radius: 50px">Modifier</v-btn>
      </div>
    </v-form>

  </div>
</template>

<script>

  export default {
    methods: {
      confirmLocation() {
        this.$router.push('/aide-immediate');
      },
      modifier() {
        document.getElementById('modifier-adresse-btn').focus();
      }
    }
  }
</script>
