<template>
  <div >
    <v-alert type="error" dismissible>
      <span style="font-size: large" class="mb-12">Danger imminent</span><br>
      <span style="font-weight: 300;">
        437 résidences inondées
      </span>
    </v-alert>
    <v-carousel
      :continuous="false"
      hide-delimiters
      :show-arrows="false"
      height="auto"
      style="padding-bottom: 70px"
    >
      <v-carousel-item v-for="(step, index) in steps">
        <v-card light>
          <v-img
            eager
            :src="require('@/static/quoi-faire-images/step'+(index+1)+'.svg')"
          />
          <v-card-title class="text-center" style="display: inherit !important; color: #5699FF;">{{step.title}}</v-card-title>
          <v-card-text>
            <ol>
              <li v-for="subStep in step.subSteps" style="color: #5699FF;">
                <b>{{subStep.title}}</b>
                <p>{{subStep.description}}</p>
              </li>
            </ol>
          </v-card-text>
        </v-card>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        steps: [
          {
            title: "Risque électrique",
            subSteps: [
              {
                description: "Coupez le courant en ayant les pieds au sec."
              },
              {
                description: "Si l’eau est déjà dans la maison et le courant est toujours présent, appelez Hydro-Québec 1 800 790-2424."
              }
            ]
          },
          {
            title: "Pompe",
            subSteps: [
              {
                description: "Assurez-vous que la pompe est fonctionnelle."
              },
              {
                description: "Allumez la pompe."
              },
              {
                description: "Lisez et respectez les consignes d’utilisation."
              }
            ]
          },
          {
            title: "Médicaments",
            subSteps: [
              {
                description: "Continuez à prendre votre médication habituelle."
              },
              {
                description: "Prévoyez les médicaments nécessaires pour s'assurer une médication régulière et continue."
              },
              {
                description: "Jetez tout médicament qui a touché l'eau d'inondation."
              },
              {
                description: "Jetez tout médicament qui n'est pas resté au froid comme recommandé ou consultez votre" +
                  " pharmacien pour savoir si vous pouvez le prendre quand même."
              }
            ]
          },
          {
            title: "Génératrice",
            subSteps: [
              {
                description: "Installez-la à l’extérieur de votre résidence, loin des portes et des fenêtres, sur une base surélevée et à l’abri des intempéries."
              },
              {
                description: "Fermez l’interrupteur principal de votre résidence (position off)."
              },
              {
                description: "Branchez les appareils électriques dans les prises de la génératrice."
              },
              {
                description: "Vérifiez que vos rallonges sont sécuritaires et ne laissez jamais les câbles d’alimentation traîner dans l’eau."
              },
              {
                description: "Assurez-vous d'éteindre la génératrice pendant 1 heure toutes les 8 heures. Utilisez la génératrice selon sa capacité."
              },
              {
                description: "Avant de refaire le plein de carburant, arrêtez la génératrice et laissez-la refroidir."
              },
              {
                description: "Une fois le courant rétabli, arrêtez la génératrice et débranchez-la avant d'allumer l’interrupteur principal de votre résidence (position on)."
              },
              {
                description: "Lisez et respectez les consignes d'utilisation."
              }
            ]
          },
          {
            title: "Nourriture",
            subSteps: [
              {
                description: "Ne consommez pas les aliments qui ont été en contact avec l'eau d'inondation. En cas de panne de courant, le réfrigérateur peut conserver :",
              },
              {
                description: "les aliments au frais pendant environ 4 à 6 heures."
              },
              {
                description: "les aliments congelés pendant 24 à 48 heures, s'il reste fermé."
              }
            ]
          },
        ]
      }
    }
  }
</script>
